[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# Custom config should go here
!includedir /etc/mysql/conf.d/

server_id = 1
replicate-do-db = otus

binlog_format = row
# gtid_mode=ON
# enforce_gtid_consistency=ON
# rpl_semi_sync_source_enabled=1

skip_ssl