[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# Custom config should go here
!includedir /etc/mysql/conf.d/

server_id = 3
replicate-do-db = otus

# gtid_mode=ON
# enforce-gtid-consistency=ON
# rpl_semi_sync_replica_enabled=1