<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <app-main-menu></app-main-menu>
  <div class="uk-grid">
    <div class="uk-width-1-2">
      <form class="uk-panel uk-panel-box uk-form" [formGroup]="form">
        <div class="uk-form-row">
          <input
            [ngClass]="{'uk-form-danger': form.get('Title').invalid && form.get('Title').touched}"
            class="uk-width-1-1 uk-form-large" type="text" placeholder="Title" formControlName="Title">
        </div>
        <div class="uk-form-row">
          <textarea
            [ngClass]="{'uk-form-danger': form.get('Body').invalid && form.get('Body').touched}"
            class="uk-width-1-1 uk-form-large" formControlName="Body"></textarea>
        </div>
        <div class="uk-form-row ">
          <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="JavaScript:" (click)="save()">Create</a>
        </div>
      </form>
    </div>
  </div>
</div>
